@using AdmissionCommittee.BL.Contracts.Models
@model AdmissionCommittee.BL.Contracts.Models.Entrant

@{
    ViewBag.Title = "Добавить абитуриента";
}

<h1>Добавить абитуриента</h1>

<div class="row justify-content-center">
    <form method="post" class="col-auto justify-content-end" style="text-align: center">
        <input type="text" asp-for="Id" readonly hidden />
        <p>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)<br />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            @Html.LabelFor(model => model.Birthday)
            <input type="date" asp-for="Birthday"/><br />
            <span asp-validation-for="Birthday"></span>
        </p>
        <p>
            @Html.LabelFor(model => model.Gender)
            @Html.DropDownListFor(model => model.Gender, Html.GetEnumSelectList<Gender>())
        </p>
        <p>
            @Html.LabelFor(model => model.EducationForm)
            @Html.DropDownListFor(model => model.EducationForm, Html.GetEnumSelectList<EducationForm>())
        </p>
        <p>
            @Html.LabelFor(model => model.ITExamScore)
            @Html.EditorFor(model => model.ITExamScore)<br />
            <span asp-validation-for="ITExamScore"></span>
        </p>
        <p>
            @Html.LabelFor(model => model.MathExamScore)
            @Html.EditorFor(model => model.MathExamScore)<br />
            <span asp-validation-for="MathExamScore"></span>
        </p>
        <p>
            @Html.LabelFor(model => model.RusExamScore)
            @Html.EditorFor(model => model.RusExamScore)<br />
            <span asp-validation-for="RusExamScore"></span>
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </p>
    </form>
</div>

<div>
    <a href="@Url.Action("Index", "Entrants")">Назад к списку</a>
</div>
