@model AdmissionCommittee.Web.Models.EntrantsViewModel

@{
    ViewBag.Title = "Список абитуриентов";
}

<h1>Список абитуриентов</h1>

<p>
    <a asp-action="Edit" class="btn btn-success">Добавить абитуриента</a>
</p>

<strong>Общее количество абитуриентов:</strong> @Model.Stats.EntrantsCount
<br />
<strong>Количество абитуриентов с суммой баллов больше 150:</strong> @Model.Stats.EntrantsPassedCount

<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Форма обучения</th>
            <th>Математика</th>
            <th>Русский</th>
            <th>Информатика</th>
            <th>Сумма баллов</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrant in Model.Entrants)
        {
            <tr>
                <td>@Html.DisplayFor(_ => entrant.Name)</td>
                <td>@Html.DisplayFor(_ => entrant.Gender)</td>
                <td>@entrant.Birthday.ToString("dd.MM.yyyy")</td>
                <td>@Html.DisplayFor(_ => entrant.EducationForm)</td>
                <td>@Html.DisplayFor(_ => entrant.MathExamScore)</td>
                <td>@Html.DisplayFor(_ => entrant.RusExamScore)</td>
                <td>@Html.DisplayFor(_ => entrant.ITExamScore)</td>
                <td>@(entrant.MathExamScore + entrant.RusExamScore + entrant.ITExamScore)</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", "Entrants", new { id = entrant.Id })">Редактировать</a>
                    <form asp-action="Delete" asp-route-id="@entrant.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
